<h1>Movie</h1>
<div vocab="http://shema.org/" typeof="Movie">
    {{#if movie}}
    <div>Id: {{movie.id}}</div>
    <div property="name">Title: {{movie.title}}</div>
    <div><img property="image" src="http://cdn24.paredro.com/wp-content/uploads/2014/11/shutterstock_187290782.jpg"/></div>
    <div>Year: {{movie.year}}</div>
    <div>Runtime:{{movie.runtime}}</div>
    <div>Actors:{{movie.actors}}</div>
    <div>Directors:{{movie.director}}</div>
    <div>Abstract:<p>{{movie.abstract}}</p></div>
    <h2>Ratings</h2>
    <ul>
        {{#each rows}}
        <li>{{this.rating}} </li>
        {{/each}}
    </ul>
    {{else}}
    <p>No movie with the given id exists.</p>
    {{/if}}
</div>
