<h1>Movie</h1>
{{#if movie}}
	<div>Id: {{this.id}}</div>
	<div>Title: {{this.title}}</div>
	<div>Year: {{this.year}}</div>
    <h2>Ratings</h2>
    <ul>
        {{#each rows}}
                <li>{{this.rating}} </li>
        {{/each}}
    </ul>
{{else}}
	<p>No movie with the given id exists.</p>
{{/if}}
