<h1>My friends</h1>
{{#if error}}
    <h2>{{error}}</h2>
{{/if}}

<div>
    <h1>Friends that you added</h1>
    <ul>
        {{#each friend}}
            <li><a href="/user/{{user_id}}">{{username}}</span></a></li>
        {{/each}}
    </ul>
</div>

<div>
    <h1>Friends that added you</h1>
    <ul>
        {{#each friendAdded}}
            <li><a href="/user/{{user_id}}">{{username}}</span></a></li>
        {{/each}}
    </ul>
</div>
