<h1>User</h1>
{{#if user}}
	<div>Id: {{user.user_id}}</div>
	<div>username: {{user.username}}</div>

    {{#if alreadyFriend}}
    <h3>You are already friend with {{user.username}}</h3>
    {{else}}
    <form action="/user/:id" method="post">
        <div><input type="hidden" name="id" value={{user.user_id}}></div>
        <div><input type="submit" value="Become friends!"></div>
    </form>
    {{/if}}
    
    <h2>Ratings</h2>
    <ul>
        {{#each rating}}
                <li>{{movie_id}}</li>
                <li>{{rating}}</li>
        {{/each}}
    </ul>
{{else}}
	<p>No user with the given id exists.</p>
{{/if}}
