<h1>User</h1>
{{#if user}}
	<div>Id: {{user_id}}</div>
	<div>username: {{username}}</div>
	<div>pass: {{password}}</div>
    <h2>Ratings</h2>
    <ul>
        {{#each rating}}
                <li>{{movie_id}}</li>
                <li>{{rating}}</li>
        {{/each}}
    </ul>
{{else}}
	<p>No user with the given id exists.</p>
{{/if}}
